.boarder {
  border: solid 1rem blue;
  width: 25rem;
  height: 70vh;
  background-image: url(./water-g24848f2dd_1920.jpg);
  border-radius: 10%;
}

.button {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-content: center;
  align-items: flex-start;
}

#output {
  border: solid black 0.5rem;
  width: 24rem;
  height: 10vh;
  margin-bottom: 1rem;
  border-radius: 12%;
}
button {
  width: 20%;
  border-radius: 50%;
  aspect-ratio: 1;
}
